# This is a basic workflow to help you get started with Actions



name: CI



# Controls when the action will run. 

on:

  # Triggers the workflow on push or pull request events but only for the main branch

  push:

    branches: [ staging ]

  pull_request:

    branches: [ main ]



# A workflow run is made up of one or more jobs that can run sequentially or in parallel

jobs:

  # This workflow contains a single job called "build"

  build:

    # The type of runner that the job will run on

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest, windows-latest]



    # Steps represent a sequence of tasks that will be executed as part of the job

    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it

      - uses: actions/checkout@v2



      # Runs a single command using the runners shell

      - name: Compile to jar

        run: |
        
          echo "Starting compilation..."
          cd src/com/TETOSOFT
          javac -d ./TEST_BUILD ./**/*.java

          jar cvf TEST_MARIO.jar *
          

      

      - name: Clean up

        run: rm -r ./TEST_BUILD/*

